
        .list-of-licenses {
            padding-top: 30px;
            padding-left: 30px;
        }

        .login-input {
            width: calc(100% - 40px);
            padding: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .login-button {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 12px 20px;
            cursor: pointer;
            width: 100%;
            font-size: 1.2rem;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            box-sizing: border-box;
        }

        .login-button:hover {
            background-color: #45a049;
        }

        .renew {
            margin-top: 30px;
        }


        input[type="text"],
        input[type="number"],
        input[type="email"],
        select {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"],
        input[type="button"]
        input[type="number"] {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 12px 20px;
            font-size: 1rem;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover,
        input[type="button"]:hover {
            background-color: #45a049;
        }